    hr {
  border: none;
  border-top: 3px double #333333;
  color: #333333;
  overflow: visible;
  text-align: center;
  height: 5px;
}

:root {
    --tb: #fff5e9;
}

body {
/*  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #4C2E05;
  color: #AEBD93;
*/  background-image: url(images/blurbg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  display: flex ;
  align-items: center;
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--tb);
}

.principal {
  width: 40%; 
  height: 35%;
  display: grid;
  grid-template-columns: 1fr 1fr; 
/* The 'box' appearance */
  background-color: #2c2c2c; /* Light gray background */ 
  border-radius: 8px;        /* Rounded corners for style */
/* Spacing */
  padding: 20px;             /* Space between content and border */
  margin:  50px;           /* Space outside the border */
  /* Makes width/height calculation easier */
  box-sizing: border-box;  
  gap: 30px;
  /*padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; */
}

.form {
    background-color: #3c3c3c;
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
 
}



.mensaje h2 { 
    font-size: 30px;
}

a {
    text-decoration: none;
    color: var(--tb)
}

hr {
    border: 0;
    height: 1px;
    background: var(--tb);
    margin: 10px 0;
}