*{
  color:rgb(130, 130, 130);
  background-color: #000000;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  padding: 3rem;
  height: calc(100vh - 6rem);
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

#titulo{
    color: rgb(149, 19, 19);
    font-size: 50px;
    justify-content: center;
    display: flex;
}

div{
  margin:20px;
  text-align: center;
}

#titulo{
  color: rgb(86, 2, 2);
  font-size: 50px;
}
.button{
    background-color: rgb(149, 19, 19);
  border:#000000 solid;
  border-radius: 12px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration:solid;
  display: inline-block;
  font-size: 30px;
  margin: 4px 2px;
  cursor: pointer;
}

.input1{

    background-color: rgb(255, 83, 83);
    border:#000000 solid;
    border-radius: 12px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration:solid;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
}

#res {
    background-color: rgb(243, 173, 173);
    border:#000000 solid;
    border-radius: 12px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration:solid;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
}